body {
    background-color: brown;
    color: antiquewhite;
    text-align: center;
}

h1 {
    text-decoration: underline;
}

a {
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.borderone {
    border-style: solid;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 50px;
    border-color: antiquewhite;
    border-radius: 20px;
}
